.containerPS{
    background-color: red;
    width: 1500px;
    height: 800px;
    display: flex;
}

.Personal{
    display: flex;
    justify-content: center;
}

.SC1{
    background-color: blue;
    width: 900px;

    margin: 20px;
}

.SC2{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 500px;
    margin: 20px;
}

.SC2p1{
    background-color: yellow;
    height: 300px;
    margin: 20px;
}

.SC2p2{
    background-color: orange;
    height: 400px;
    margin: 20px;
}

.Titulo{
    color: white;
    font-size: 30px;
    margin-left: 3%;
    padding-left: 1%;
    border-left: solid 8px #368dd9;
    margin-top: 20px;
    margin-bottom: 20px;
}