.home {
    .header-text {
        width: 80%;
        margin-left: 10%;
    }

    .main-button a {
        color: white;
        border: white 1px solid;
        background-color: transparent;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}