.cores {
  /*só para salvar as cores que vou usar*/
  color: #bf2c71;
  color: #7055df;
  color: #020659;
  color: #368dd9;
  color: #dd5fa3;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo h1 {
  /*é a logo no header*/
  color: #bf2c71;
  margin: 0;
}

h4 {
  color: white;
}

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}