.cores {
    /*só para salvar as cores que vou usar*/
    color: #BF2C71;
    color: #7055DF;
    color: #020659;
    color: #368DD9;
    color: #DD5FA3;
}

/* Geral -------------------------------------------------------------------------- */

.logo h1 {
    /*é a logo no header*/
    color: #BF2C71;
    margin: 0;
}

h4 {
    color: white;
}


/* perfil.html -------------------------------------------------------------------- */

.chicagofire h4 {
    /*é a classe de cada bloquinho*/
    margin-top: 2rem;
    ;
}

.chicagofire ul {
    padding: 0;
}

.pinguim {
    /*é o botão ver plano do usuário*/
    font-style: italic;
    padding-left: 0.5rem;
}

.pinguim:hover {
    color: #368DD9;
}


/* alunos.html --------------------------------------------------------------------- */

#calendar {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.fc-day-today {
    /*id do calendario*/
    background-color: #368DD9 !important;
    /* cor de fundo do dia de hoje */
    border: 2px solid #444ac2 !important;
    /* borda douradinha */
}

.fc-day-today a {
    color: #c7caff !important;
    /* cor do número do dia de hoje */
    font-weight: bold;
}

.alunospage h6{
    color: white;
    padding-bottom: 2%;
}